@include media-breakpoint-down(xs)  {
    .bor-right:after{
        content: "";
        position: absolute;
        height: 0%;
        top: 96%;
        right:0;
        border-right:2px solid transparent; 
       
    }
     .table-amount td ,th{
        font-size: 12px;
        
    }
}