<div class="container-fluid">
  <div class="mx-4 mb-4">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="table-responsive">
          <table class="table-amount border">
            <thead class="thead-light">
              <tr>
                <th>
                  <i class="fa fa-barcode-alt"></i>
                </th>
                <th class="text-right" colspan="2">groups
                  <input type="number" class="group-input rounded" placeholder="2 decimals">
                </th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Price(USDT)</th>
                <th>Amount(BTC)</th>
                <th>Total(USDT)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in tableAmount">
                <td class="pl-3 text-danger font-weight-bold">{{data.usdt}}</td>
                <td class="pl-4 font-weight-bold">{{data.btc}}</td>
                <td class="pr-3 text-right font-weight-bold">{{data.tusdt}}</td>
              </tr>
              <tr>
                <td colspan="3" class="text-center thead-light py-1 font-weight-bold text-dark signal">
                  <span>9,4658.78</span>
                  <i class="fa fa-signal float-right pr-3 pt-1 text-success"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table-amount green-hover border">
            <thead>
              <tr>
                <th>Price(USDT)</th>
                <th>Amount(BTC)</th>
                <th>Total(USDT)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in tableAmount">
                <td class="pl-3 text-success font-weight-bold">{{data.usdt}}</td>
                <td class="pl-4 font-weight-bold">{{data.btc}}</td>
                <td class="pr-3 text-right font-weight-bold">{{data.tusdt}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="exchange-tabs">
          <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Limit">
              <div class="row">
                <div class="col col-lg-6">
                  <form class="form-horizontal">
                    <div class="container">
                        <div class="bor-right">
                          <div class="row">
                          <div class="col form-group form-group-sm">
                            <div class="row">
                              <label for="first_name" class="col-6 col-form-label font-weight-bold">
                                Buy BTC
                              </label>
                              <div class="col-6 text-right">
                                <label for="first_name" class="col-form-label label-color">USDT Balance:--</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 form-group form-group-sm mb-2">
                            <div class="row">
                              <label for="first_name" class="col-3 col-form-label label-color">Price:</label>
                              <div class="col-9 place-right">
                                <input type="number" class="form-control shadow-box" id="first_name" name="first_name" placeholder="USDT">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 form-group form-group-sm  mb-2">
                            <div class="row">
                              <label for="last_name" class="col-3 col-form-label label-color">Amount:</label>
                              <div class="col-9  place-right">
                                <input type="tel" class="form-control shadow-box" id="last_name" name="last_name" placeholder="BTC">
                                <div class="text-center">
                                  <button type="button" class="btn btn-light btn-percent shadow-box label-color">25%</button>
                                  <button type="button" class="btn btn-light btn-percent shadow-box label-color">50%</button>
                                  <button type="button" class="btn btn-light btn-percent shadow-box label-color">75%</button>
                                  <button type="button" class="btn btn-light btn-percent shadow-box label-color">100%</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 form-group form-group-sm">
                            <div class="row">
                              <label for="Street" class="col-3 col-form-label label-color">Total:</label>
                              <div class="col-9  place-right">
                                <input type="text" class="form-control shadow-box" id="Street" name="Street" placeholder="USDT">
                              </div>
                            </div>
                          </div>
                          <div class="col form-group form-group-sm">
                            <div class="row">
                                <div class="col text-center">
                                <button type="submit" class="btn btn-light text-center btn-login w-100 shadow-box mt-3 label-color rounded">
                                  <span class="">Login</span> or
                                  <span>Register</span> to trade</button>
                                  </div>
                              </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col col-lg-6">
                  <form class="form-horizontal">
                    <div class="container">
                      <div class="row">
                        <div class="col form-group form-group-sm bor-top">
                          <div class="row">
                            <label for="first_name" class="col-6 col-form-label font-weight-bold">
                              Buy BTC
                            </label>
                            <div class="col-6 text-right">
                              <label for="first_name" class="col-form-label label-color">USDT Balance:--</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 form-group form-group-sm  mb-2">
                          <div class="row">
                            <label for="first_name" class="col-3 col-form-label label-color">Price:</label>
                            <div class="col-9 place-right">
                              <input type="number" class="form-control shadow-box" id="first_name" name="first_name" placeholder="USDT">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 form-group form-group-sm  mb-2">
                          <div class="row">
                            <label for="last_name" class="col-3 col-form-label label-color">Amount:</label>
                            <div class="col-9  place-right">
                              <input type="tel" class="form-control shadow-box" id="last_name" name="last_name" placeholder="BTC">
                              <div class="text-center">
                                <button type="button" class="btn btn-light btn-percent shadow-box label-color">25%</button>
                                <button type="button" class="btn btn-light btn-percent shadow-box label-color">50%</button>
                                <button type="button" class="btn btn-light btn-percent shadow-box label-color">75%</button>
                                <button type="button" class="btn btn-light btn-percent shadow-box label-color">100%</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 form-group form-group-sm">
                          <div class="row">
                            <label for="Street" class="col-3 col-form-label label-color">Total:</label>
                            <div class="col-9  place-right">
                              <input type="text" class="form-control shadow-box" id="Street" name="Street" placeholder="USDT">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 form-group form-group-sm">
                          <div class="row">
                            <div class="col">
                              <button type="submit" class="btn btn-light text-center w-100 btn-login shadow-box mt-3 label-color rounded">
                                <span>Login</span> or
                                <span>Register</span> to trade</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </uib-tab>
            <uib-tab index="1" heading="Market">Market</uib-tab>
            <uib-tab index="2" heading="Stop-Limit">Stop-Limit </uib-tab>
          </uib-tabset>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="table-responsive">
          <table class="table-amount border">
            <h6>Trade History</h6>
            <thead>
              <tr>
                <th>Price(USDT)</th>
                <th>Amount(BTC)</th>
                <th>Total(USDT)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in tableAmount">
                <td class="pl-3 text-danger font-weight-bold">{{data.usdt}}</td>
                <td class="pl-4 font-weight-bold">{{data.btc}}</td>
                <td class="pr-3 text-right font-weight-bold">{{data.tusdt}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="mt-4 table-order">
          <div class="float-left">
            <h6 class="font-weight-bold">
              Open Orders
            </h6>
          </div>
          <div class="float-right hide-pair">
            <input type="checkbox" class="align-middle">
            <span>Hide other pairs</span>
          </div>

          <div class="table-responsive border">
            <table class="table table-order">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Pair</th>
                  <th>Type</th>
                  <th>Side</th>
                  <th>Price</th>
                  <th>Amount</th>
                  <th>Filled%</th>
                  <th class="text-right">Total</th>
                  <th class="text-right">Trigger conditions</th>
                  <th class="text-right pr-4">
                    <button type="button" class="btn btn-cancle">cancle All</button>
                    <select class="select-option  align-middle">
                      <option></option>
                    </select>
                  </th>
                  <!-- <th></th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td class="text-right">234</td>
                  <td class="text-right">234</td>
                  <td class="text-right pr-4">234</td>
                </tr>
                <tr>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td class="text-right">234</td>
                  <td class="text-right">234</td>
                  <td class="text-right pr-4">234</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12">
        <div class="mt-4 table-order">
          <div class="float-left">
            <h6 class="font-weight-bold">
              My 24th order History
            </h6>
          </div>
          <div class="float-right hide-pair">
            <input type="checkbox" class="align-middle">
            <span>Hide other pairs</span>
            <span class="pl-3 font-weight-bold">
              <a>More</a>
            </span>
          </div>
          <div class="table-responsive border">
            <table class="table table-order">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Pair</th>
                  <th>Type</th>
                  <th>Side</th>
                  <th>Price</th>
                  <th>Amount</th>
                  <th>Filled%</th>
                  <th class="text-right">Total</th>
                  <th class="text-right">Trigger conditions</th>
                  <th class="text-right pr-4">
                    <button type="button" class="btn btn-cancle">cancle All</button>
                    <select class="select-option align-middle">
                      <option></option>
                    </select>
                  </th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td class="text-right">234</td>
                  <td class="text-right">234</td>
                  <td class="text-right pr-4">234</td>
                  <td>234</td>
                </tr>
                <tr>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td>234</td>
                  <td class="text-right">234</td>
                  <td class="text-right">234</td>
                  <td class="text-right pr-4">234</td>
                  <td>234</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>