// start of home page
////////////////////// tabs css///////////////////
.exchange-tabs {
    @include border-color($darkgray $darkgray null $darkgray);
    border: 1px solid transparent;
    .tab-pane{
        border-bottom: 1px solid $darkgray;
        border-left:1px solid $darkgray;
        border-right:1px solid $darkgray;
    }
   
   .bor-top{
       border-top:1px solid $darkgray;
   }
    a {
        color: $lightblack;
        font-weight: 500;
    }
    .nav-tabs {
        // width: 53%;
        .nav-link{
            border-top: 1px solid $darkgray;
            border-left:1px solid $darkgray;
            border-right:1px solid $darkgray;
        }
    }
    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
        background-color: $lightgray;
    }
    .active {
        background-color: $lightgray;
        .nav-link {
            @include border-color($darkgray $darkgray null $darkgray);
            &:focus {
                border-bottom: none;
            }
        }
        .nav-tabs {
            border-bottom: none !important;
        }
        a {
            color: $orange;
          
        }
        
        //     border-top: 1px solid transparent;
        // border-left:1px solid transparent;
        // border-right:1px solid transparent;
        
    }
    .nav-tabs {
        border-bottom: 1px solid $darkgray;
    }
}
//////////////////login form ////////////////////
.place-right {
    input::placeholder {
        padding-right: 5px;
        font-size: 14px;
        color: $darkgray;
        text-align: right;
        font-weight: 600;
    }
    .form-control:focus{
        border-color: $darkgray;
    }
}

.label-color {
    color: $lightblack;
    font-weight: 500;
}

.btn-login {
    padding: 11px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid $elightblack;
    background: transparent;
    span {
        color: $orange;
    }
}
.btn-percent{
    font-size: 14px !important;
    padding: 4px 10px !important;
    border: 1px solid $elightblack;
    margin: 8px 0px 0px 1px;
   }
.bor-right:after{
    content: "";
    position: absolute;
    height: 96%;
    top: 2%;
    right:0;
    border-right:2px solid   rgba(206, 212, 218, 0.27058823529411763); 
   
}

//////////////////////end of login form///////////
///////////////////table css///////////////////////
.table-order {
    th {
        color: $graydark;
    }
}

.table-amount {
   
    .thead-light {
        background-color: $lightgray;
        th {
            font-size: 12px;
        }
    }
    th {
        padding: 0.15em 0.55em;
        color: $graydark;
    }
    td {
        font-size: 14px;
        color:$graydark;
    }
    .group-input {
        width: 100px;
        @include padding(2px 5px);
        font-size: 12px;
        border: 1px solid $lightgray;
        margin: 5px 6px;
    }
    tbody tr:hover {
        background-color: $lightpink;
    }
   
}
.green-hover{
    tbody tr:hover {
        background-color:$lightgreen;
    }
}
.signal{
    span{
        font-size: 16px;
  }
  i{
      font-size: 25px;
  }
   
}
.table-order {
    th {
        padding: 0.25rem;
        font-size: 13px;
        vertical-align: middle !important;
    }
    td {
        padding: 0.25rem;
        border-top: none;
        font-size: 12px;
        padding-left: 6px;
    }
}

.btn-cancle {
    padding: 6px 14px;
    margin: 1px;
    font-size: 12px;
    background: transparent;
    border: 1px solid $lightgray;
}

.select-option {
    height: 27px;
}

.hide-pair {
    span {
        font-size: 12px;
        a {
            text-decoration: underline !important;
        }
    }
}
///////////////end of table ////////////////////

@media only screen and (max-width: 1300px) {
    .table-amount td ,th{
        font-size: 12px;
        
    }
}