<header hide-on-scroll>
    <nav class="navbar navbar-light bg-light navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-controls="nav-collapse"
                aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
                </button>
            <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="20"></a>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="navbar-nav mr-auto" ng-include="template.menu"></ul>
            </div>
        </div>
    </nav>
</header>