<div class="login-modal">
    <div class="text-center ">
      <h2 class="modal-heading">Register</h2>
    </div>
    <form name="formName">
      <div class="form-group">
        <label for="name">Enter Code:</label>
        <input type="text" name="code" class="form-control" id="code" ng-model="vrCode.code" required>
        <span class="error-msg" ng-show="formName.code.$touched && formName.code.$invalid">Enter the six digit code.</span>
      </div>
      <button ng-click="closeCodeModal(vrCode)" class="btn btn-default reg-log mb-2" ng-disabled="formName.$invalid">Submit</button>
    </form>
  </div>